@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #F2EFE5;
    --secondary-color: #F9D6A4;
    --third-color:#C7C8CC;
    --fourth-color: #B4B4B8;
    --black-color: #010203;
    --inverted-color: #051428;
    --text-color: #000000;
    --invert-text-color: #F2EFE5;
    --font-family-primary: "Montserrat", sans-serif;
}

.colorPrimary {
    background: var(--primary-color);
}

.colorSecondary {
    background: var(--secondary-color);
}
