@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #F2EFE5;
    --secondary-color: #7f7f7f;
    --fill-color: #e0dbd1;
    --highlight-color: #9bb6f4;
    --text-color: #000000;
    --text-color-content: #3b3b3b;
    --content-text-size: 17px;
    --font-family-primary: "Montserrat", sans-serif;
}
body.dark-mode {
    --primary-color: #000000;
    --secondary-color: #282828;
    --fill-color: #2f2f2d;
    --highlight-color: #041439;
    --content-text-size: 17px;
    --text-color: #F2EFE5;
    --text-color-content: 	#ffffff9f;
    --font-family-primary: "Montserrat", sans-serif;
}

.colorPrimary {
    background: var(--primary-color);
}

.colorSecondary {
    background: var(--secondary-color);
}
