.experience-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  font-family: var(--font-family-primary)
}

.experience-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 1000px;
}

.experience-card {
  display: flex;
  flex-direction: row;
  background: var(--secondary-color);
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  padding: 20px;
}

.experience-icon {
  flex: 0 0 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-icon img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.experience-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.experience-title {
  font-size: 1.75rem;
  font-weight: bold;
}

.experience-description {
  font-size: 1.25rem;
  color: #555;
  margin: 10px 0;
}

.extra-description {
  font-size: 1rem;
  margin: 10px 0;
  padding-left: 20px;
  border-left: 3px solid #ddd; /* Adds a subtle divider */
  line-height: 1.6;
}

.skills-banner {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill {
  background-color: #9bb6f4;
  color: #333;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
