/* GLOBAL CSS */
html {
    height: 100%; /* Ensure the html element takes up the full viewport height */
    background-color: var(--primary-color);
    scroll-behavior: smooth;
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

.section {
    padding: 40px;
    margin: 20px auto;
    max-width: 1200px;
    border-radius: 8px;
    transition: all 0.3s ease;
    min-height:800px;
    position: relative;
    overflow: hidden;
    background: url('https://www.transparenttextures.com/patterns/linen.png');
    animation: waveAnimation 20s linear infinite;
  }

  @keyframes waveAnimation {
    0% { background-position: 0 0; }
    100% { background-position: 100% 100%; }
  }

/* TITLES CSS */
.title {
    font-family: var(--font-family-primary);
    color: var(--text-color);
    font-size: 200px;
    margin-bottom: -80px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    line-height: 1.2;
    border-radius: 10px;
    position: relative;
    animation: popUp 3s ease forwards;
}

.titleBackground {
  background-color: var(--fourth-color); /* Background color */
  border-radius: 15px; /* Rounded corners */

  z-index: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
}

.subtitle {
  font-family: var(--font-family-primary);
  color: var(--text-color);
  font-size: 100px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  line-height: 1.2;
  border-radius: 10px;
  position: relative;
  animation: popUp 3s ease forwards;
}

@keyframes popUp {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* HOME CSS */
.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profilePicture {
    margin-top: -20px;
    width: 300px;
    height: 500px;
    border-radius: 15px;
    background-color: #ddd;
  }

  /* INTRO CSS */

  .intro {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    background: var(--secondary-color);
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 5px 5px 0 #000;
    overflow: hidden;
    border: 2px solid #000;
    z-index: 0;
  }
  
  .intro-text {
    font-family: var(--font-family-primary);
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin: 0;
    line-height: 1.4;
    text-align: center;

  }
  
  .intro-text + .intro-text {
    margin-top: 10px; /* Space between paragraphs */
  }
  
  .intro-details {
    font-family: var(--font-family-primary);
    font-size: 1.125rem;
    color: #555;
    line-height: 1.6;
    text-align: center;
    margin-top: 20px;
  }

  .uw-logo {
    width: 35px;
    height: 35px; 
    vertical-align: -10%;
  }

/* EXPERIENCE SECTION CSS */

.experience-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.experience-card {
  font-family: var(--font-family-primary);
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 300px;
  margin: 20px 0; /* Vertical spacing */
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  /* Hide the extra section initially */
}

.experience-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.experience-extra {
  display: none; /* Hidden by default */
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #f4f4f4; /* Pastel background color */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-20px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.experience-card:hover .experience-extra {
  display: block; /* Show on hover */
  transform: translateY(0);
  opacity: 1;
}

.experience-icon {
  font-size: 3rem;
  color: #333;
  margin-bottom: 10px;
}

.experience-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.experience-description {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
}

.experience-extra-content {
  font-size: 0.9rem;
  color: #999;
}


/* PROJECTS SECTION */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: 200px;
}

.project-card {
  perspective: 1000px;
  position: relative;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.project-card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-back {
  background: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: rotateY(180deg);
  border-radius: 10px;
  padding: 20px;
}

.project-image {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #ddd;
  border-radius: 10px 10px 0 0;
}

.project-title {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #333;
}

.project-description {
  font-size: 1rem;
  color: #fff;
}

.project-link {
  color: #ff0;
  text-decoration: none;
  font-weight: bold;
}